.execution {
    width: 80%;
    outline: 0;
    padding: 9px;
    border: initial solid;
    border-width: 3px;
    border-radius: 18px;
    border-color: black;
    border-style: solid;
    min-height: 50px;
    margin: 5px auto;
    overflow: hidden;
}

.executionSpinner {
    width: 50%;
    padding: 9px;
    margin: 5px auto;
}

.spinner {
    height: 50px;
}

.commentEditor {
    margin-top: 6px;
}

.mousable:hover {
    border-right: solid;
    border-right-width: 3px;
    border-color: #c825f0;
}

.execution-date {
    height: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.query-preview {
    height: 100%;
    border-left: solid;
    border-left-width: 1.5px;
    border-color: black;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
}

.comments {
    height: 100%;
    border-top: solid;
    border-top-width: 1.5px;
    border-color: black;
    text-align: center;
    white-space: nowrap;
}

.above-result-table {
    border-top: solid;
    border-top-width: 1.5px;
    border-color: black;
    text-align: center;
}

.query {
    height: 100%;
    border-top: solid;
    border-top-width: 1.5px;
    border-color: black;
    text-align: center;
}

.selected {
    width: 80%;
    outline: 0;
    padding: 9px;
    border: initial solid;
    border-width: 3px;
    border-radius: 18px;
    border-style: solid;
    min-height: 50px;
    margin: 5px auto;
    overflow: hidden;
    border-color: #c825f0;
}

.reportFormMode {
    width: 80%;
    outline: 0;
    padding: 9px;
    border: initial solid;
    border-width: 3px;
    border-radius: 18px;
    border-style: solid;
    min-height: 50px;
    margin: 5px auto;
    overflow: hidden;
    border-color: black;
}