.Spinner {
    animation: App-logo-spin infinite 20s linear;
}

.App{
    margin: 0;
    height: 100%;
    width: 100%;
}

.App-menu {
    text-align: center;
    background-color: #222;
    color: white;
    height: 100%;
}